<h1>City</h1>
{{input type="text" name=city}} {{#link-to "cities" tagName="button"}} Go To Weather {{/link-to}}
<h2>Name: {{model.name}}</h2>
<h3>Forecast:</h3>
{{!-- TODO: WeatherBoxComponent --}}
{{#each model.forecast as |day| }}
	{{day.main.temp}}
{{/each}}
{{outlet}}
