<h1>City</h1>
{{input type="text" name=city}} {{#link-to "city" city}} Go To Weather {{/link-to}}
<h2>Name: {{model.city.name}}</h2>
<h3>Forecast:</h3>
{{!-- TODO: WeatherBoxComponent --}}
{{#each model.list as |day| }}
	{{day.main.temp}}
{{/each}}
{{outlet}}
